
  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js" integrity="sha512-nOQuvD9nKirvxDdvQ9OMqe2dgapbPB7vYAMrzJihw5m+aNcf0dX53m6YxM4LgA9u8e9eg9QX+/+mPu8kCNpV2A==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsencrypt/2.3.1/jsencrypt.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>

    <script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
    <script src="/js/notas.js" nota="{{user.nota}}" clase="{{clase.nombre_clase}}"></script>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" href="/links/material_clase"><img src="/img/OnClass.png" width="130px" height="70px"></a>
              <ul class="navbar-nav mr-auto mt-2 mt-xl-0">
                  <li class="nav-item ">
                    <a class="nav-link" href="/links/Horario">Horario</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/links/grupo">Grupos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/links/pendientes">Pendientes individuales</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/links/chat_menu">Mensajes</a>
                  </li>
              </ul>              
<ul class="navbar-nav mr-auto mt-2 mt-xl-0">
  <li class="nav-item">
    <div class="d-flex flex-row bd-highlight mb-3">
    <div class="p-1" id="diaSemana">Martes</div>
    <div class="p-1" id="dia"> 27</div>
    <div class="p-1"> de </div>
    <div class="p-1" id="mes">Octubre </div>
    <div class="p-1"> del</div>
    <div class="p-1" id="year">2015</div>
  </div>
  </li>
  <li class="nav-item">
    <div  class="d-flex flex-row bd-highlight mb-3">
    <div class="p-1" id="horas">11</div>
    <div class="p-1" >:</div>
    <div class="p-1" id="minutos">48</div>
    <div class="p-1" >:</div>
    <div class="p-1" id="segundos">12</div>
    <div class="p-1" id="ampm">AM</div>    
    </div>
  </li>
</ul>

	
              <a href="/links/perfil" style="color: black; text-decoration: none;"> {{user.nombre_usuario}}
                <svg width="2.5em" height="2.5em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg></a>
              <a href="/links/logout" class="nav-item">Cerrar sesion</a>
         
        </div>
      </nav>
    <div class="d-flex justify-content-center">
      <header class="chat-header">
        <h1><i class="fas fa-smile"></i> Chat de {{user.nombre_usuario}} .   .   . </h1>
        <a href="/links/chat_menu" class="btn">Leave Room</a>
      </header>
      <main class="chat-main">
        <div class="chat-sidebar">
          <h3><i class="fas fa-comments"></i> Room Name:</h3>
          <h2 id="room-name"></h2>
          <h3><i class="fas fa-users"></i> Users</h3>
          <ul id="users"></ul>
        </div>
        <div class="chat-messages"></div>
      </main>
      <div class="chat-form-container">
        <form id="chat-form">
          <input
            id="msg"
            type="text"
            placeholder="Enter Message"
            required
            autocomplete="off"
          />
          <button class="btn" onclick="Submit()"><i class="fas fa-paper-plane"></i> Send</button>
        </form>
      </div>
    </div>
    <br>
      <center><div class="d-flex flex-column justify-content-center" style="width: 60%;" >
                <h5 class="text-center">Tomar notas</h5><br>
                <div id="nota"></div>
                <div class="d-flex justify-content-around mt-4">
                    <button class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter" onclick="Enviar()">Enviar</button>
                </div>
            </div></center>

    
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.2/qs.min.js"
      integrity="sha256-TDxXjkAUay70ae/QJBEpGKkpVslXaHHayklIVglFRT4="
      crossorigin="anonymous"
    ></script>
    
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>


    <script src="/socket.io/socket.io.js"></script>
    <script src="/js_chat/main.js" username = '{{user.nombre_usuario}} ' room = '{{newlink}}' id_usuario = '{{contacto}}' id_remitente = '{{user.id_usuario}}'></script>
  </body>
