<div class="d-flex justify-content-center">
    <!-- DATOS OBTENIDOS-->
    <div class="container p-4">
        <div class="row">
            <div class=" col-md-4 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <form action="/links/delete_clase" method="POST">
                        <div class="form-group">
                             <input type="hidden" value="{{obj.id_clase}}" name="id">
                            <input type="text" value="{{obj.nombre_clase}}" class="form-control" name="nombre" readonly="readonly">
                        </div>
                        <div class="form-group">
                            <input type="text" value="{{obj.desc_dia}}" class="form-control" name="dia" readonly="readonly">
                        </div>
                        <div class="form-group">
                            <input type="text" value="{{obj.horai_clase}} horas" class="form-control" name="horai" readonly="readonly">
                        </div>
                        <div class="form-group">
                            <input type="text" value="{{obj.horat_clase}} horas" class="form-control" name="horat" readonly="readonly">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">Eliminar</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<!-- DATOS NUEVOS-->
    <div class="container p-4">
        <div class="row">
            <div class=" col-md-4 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <form action="/links/update_clase/{{obj.id_clase}}" method="POST">
                        <div class="form-group">
                            <input type="text" value = "{{obj.nombre_clase}}" class="form-control" name="nombre" placeholder="Nomre de la clase" pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$" onkeypress="return isText(event)">
                        </div>
                        <div class="form-group">
                            <select class="form-select btn btn-secondary" name="dia" aria-label="Default select example">
                                    <option selected>Seleccione un dia</option>
                                    <option value="1">Lunes</option>
                                    <option value="2">Martes</option>
                                    <option value="3">Miercoles</option>
                                    <option value="4">Jueves</option>
                                    <option value="5">Viernes</option>
                                    <option value="6">Sabado</option>
                                    <option value="7">Domingo</option>
                            </select>                            
                        </div>
                        <div class="form-group">
                            <select class="form-select btn btn-secondary" name="horai" id="inhoras1" aria-label="Default select example">
                                <option selected>Hora de inicio</option>
                                
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-select btn btn-secondary" name="horat" id="inhoras2" aria-label="Default select example">
                                <option selected>Hora de termino</option>
                                
                            </select>  
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">Actualizar</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="/js/horario.js" var="{{user.id_usuario}}"></script>
<script src="/js/main.js" ></script>