<div class="container mx-auto">
    <div class="card mx-auto shadow px-3 pb-3 my-5 bg-white rounded">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <div class="card-header">
                        <h4 class="text-center mx-auto"><i class="fas fa-user-friends mr-1"></i> MIS GRUPOS</h4>
                    </div>
                    <div class="row ml-3">
                        <ul>
                            {{#each grupos}}
                            <div class="col-12 hidden">
                                <p class="hidden"></p>
                            </div>
                            <li>
                                <div class="row ">
                                    <div class="col-8">
                                        <h5>{{nombre_proyecto}}</h5>
                                    </div>
                                    <div class="col-1 mx-1">
                                        <form action="/links/detalle_grupo" method="POST">
                                            <div>
                                                <input type="hidden" name="id" value="{{clave_equipo}}">
                                                <input type="hidden" name="nombre" value="{{nombre_proyecto}}">
                                            </div>
                                            <button type="submit" class="btn btn-warning btn-sm">
                                                <i class="fas fa-eye"></i>
                                            </button>
                                        </form>
                                    </div>
                                    <div class="col-1 ml-1">
                                        <form action="/links/eliminar_equipo" method="POST">
                                            <input type="hidden" name="clave" value="{{clave_equipo}}">
                                            <button type="submit" class="btn btn-danger btn-sm"><i
                                                    class="fas fa-trash"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </li>
                            {{else}}
                            <div class="col-12 mx-auto mt-4 border-0">
                                <div>
                                    <div class="text-center">
                                        <h2>No tienes ningun grupo</h2>                                            
                                        <img class="rounded-circle" src="/img/info.svg" style="width: 60%;">
                                    </div>                                                                  
                                </div>
                            </div>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                <div class="col-6 border-left">
                    <div class="card-header mb-5">
                        <h4 class="text-center mx-auto"><i class="fas fa-user-plus mr-1"></i> CREAR EQUIPO</h4>
                    </div>
                    <div class="col-10 mx-auto">
                        <form action="/links/grupo" method="POST">
                            {{#if contactos}} 
                            <div>
                                <input type="text" class="form-control md-6" name="nombre"
                                    placeholder="Nombre del equipo"
                                    pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$">
                            </div>                            
                            <p class="font-italic mt-4">Añadir Integrantes: </p>                            
                            <div>
                                <ul class="list-group">
                                {{#each contactos}}                                
                                    <div class="col-8 mb-2">                                    
                                        <li class="list-group-item">
                                            <div class="col-12">
                                                <input type="checkbox" class="form-check-input me-1" name="check_usuarios"
                                                value="{{id_usuario}}"><h6>{{nombre_usuario}}</h6>
                                            </div>                                                                                
                                        </li>
                                    </div> 
                                    {{/each}}
                                </ul>
                            </div>                                              
                            <div class="float-right mt-5">
                                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button>
                            </div>
                            {{else}}
                                <div class="col-12 mx-auto mt-4">
                                    <div>
                                        <div class="text-justify">
                                            <h3>¡No tienes ningun contacto!<br class="my-3"> Debes tener por lo menos un contacto para poder crear un grupo.</h3>                                                    
                                        </div>
                                    </div>
                                </div>
                                <div class="float-right mt-5">
                                <a  class="btn btn-primary" href="/links/agregar_contacto"><i class="fas fa-plus mr-1"></i> Agregar contacto</a>
                                </div>                
                                
                                
                            {{/if}}
                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<br>