<div class="container d-flex justify-content-center p-4 border" style="width: 60%;">
    
    <div class="">
        <div class="mx-auto">
          <h5 class="text-center">Lista de tus grupos</h5>            
        </div>
        {{#each grupos}}
        <form action="/links/detalle_grupo" method="POST">
            <div>
                <input type="hidden" name="id" value="{{clave_equipo}}">
            </div>            
            <div>
                <input type="text" class="form-control md-6" readonly="readonly" name="nombre" value="{{nombre_proyecto}}"></input>
            </div>
            <button type="submit" class="btn btn-secondary">
                Detalles del proyecto
            </button>
        </form>
        <form action="/links/eliminar_equipo" method="POST">
            <input type="hidden" name="clave" value="{{clave_equipo}}">
            <button type="submit" class="btn btn-secondary">Eliminar Equipo</button>
        </form>              
        {{/each}}
        
    </div>
</div>
<div class="container d-flex justify-content-center p-4 border" style="width: 60%;">
    <div class="">
        <div class="mx-auto">
           <h5 class="text-center">Crear un equipo</h5>           
        </div>
        <form action="/links/grupo" method="POST">
            <div>
                <input type="text" class="form-control md-6" name="nombre" placeholder="Nombre del equipo" pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$">
            </div>
            <br>
            <div>
            {{#each contactos}}
                <ul class="list-group">
                    <li class="list-group-item">
                        <input type="checkbox" class="form-check-input me-1" name="check_usuarios" value="{{id_usuario}}">{{nombre_usuario}}<br>                                 
                    </li>
                </ul>
                
            {{/each}}
            </div>
            <br>
            <div>
                <button type="submit" class="btn btn-secondary">Guardar</button>
            </div>
        </form>
        
        
    </div>
</div>      
</div>
</div>