<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar_tareas</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css"/><!--jquery-ui.css -->
    <link rel="stylesheet" href="/css_index/estilos.css">
    <!--datepicker cnd -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js" integrity="sha512-ZrigzIl5MysuwHc2LaGI+uOLnLDdyYUth+pA5OuJC++WEleiYrztIc7nU/iBRWeP+ufmSGepuJULdgh/K0rIAA==" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <!--<img src="/img/OnClass.png" width="130px" height="70px">-->
          <a class="navbar-brand" href="/links/material_clase"><svg width="130px" height="70px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     width="1920px" height="1080px" viewBox="0 0 1920 1080" enable-background="new 0 0 1920 1080" xml:space="preserve">
<path fill="none" stroke="#00A24F" stroke-width="70" stroke-linecap="round" stroke-miterlimit="10" d="M719.483,351.776
    c-76.422,64.204-125,160.477-125,268.099c0,193.301,156.7,350,350,350c193.3,0,350-156.699,350-350
    c0-107.622-48.578-203.895-124.999-268.099"/>
<line fill="#079C39" stroke="#00A24F" stroke-width="70" stroke-linecap="round" stroke-miterlimit="10" x1="944.483" y1="502.59" x2="944.483" y2="127.591"/>
</svg></a>
              <ul class="navbar-nav mr-auto mt-2 mt-xl-0">
                  <li class="nav-item ">
                    <a class="nav-link" href="/links/Horario">Horario</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/links/grupo">Grupos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/links/pendientes">Pendientes individuales</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/links/chat_menu">Mensajes</a>
                  </li>
              </ul>              
<ul class="navbar-nav mr-auto mt-2 mt-xl-0">
  <li class="nav-item">
    <div class="d-flex flex-row bd-highlight mb-3">
    <div class="p-1" id="diaSemana">Martes</div>
    <div class="p-1" id="dia"> 27</div>
    <div class="p-1"> de </div>
    <div class="p-1" id="mes">Octubre </div>
    <div class="p-1"> del</div>
    <div class="p-1" id="year">2015</div>
  </div>
  </li>
  <li class="nav-item">
    <div  class="d-flex flex-row bd-highlight mb-3">
    <div class="p-1" id="horas">11</div>
    <div class="p-1" >:</div>
    <div class="p-1" id="minutos">48</div>
    <div class="p-1" >:</div>
    <div class="p-1" id="segundos">12</div>
    <div class="p-1" id="ampm">AM</div>    
    </div>
  </li>
</ul>

	
              <a href="/links/perfil" style="color: black; text-decoration: none;"> {{user.nombre_usuario}}
                <svg width="2.5em" height="2.5em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg></a>
              <a href="/links/logout" class="nav-item">Cerrar sesion</a>
         
        </div>
      </nav>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="d-flex justify-content-center">
              <ul class="navbar-nav mr-auto mt-2 mt-xl-0">
                  <li class="nav-item ">
                    <a class="nav-link" href="/links/terminados">Terminados</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/links/no_terminados">No terminados</a>
                  </li>
              </ul>  
        </div>
      </nav>
       {{#if message}}
      <div class="container">
        <div class="row">
          <div class="col-md-4 mx-auto">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              {{message}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    {{/if}}
	{{#if success}}
      <div class="container">
        <div class="row">
          <div class="col-md-4 mx-auto">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              {{success}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    {{/if}}
      <div class="container p-4">
    <div class="row">
        <div class=" col-md-4 mx-auto">
          <h5 class="text-center">Agregar tareas</h5>
            <div class="card">
                <div class="card-body">
                    <form action="/links/pendientes" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="nombre" placeholder="Nombre de la tarea" pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$" onkeypress="return isText(event)">
                    </div> 
                     <div class="form-group">
                        <input type="text" class="form-control" name="descripcion" placeholder="Descripcion" pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$">
                    </div>
                    <div class="form-group">
                            <select class="form-select btn btn-secondary" name="clase" aria-label="Default select example">
                                    
                                    <option selected>Seleccione una clase </option>
                                    {{#each clases}}
                                      <option value="{{nombre_clase}}">{{nombre_clase}}</option>
                                    {{/each}}
                                    
                            </select>                            
                      </div>
                        <div class=" form-group p-4">
                          <label class="control-label text-center max-auto">Termino : DD/MM/YYYY</label>
                          <div class="d-flex flex-nowrap"><input name="fecha" class="form-control" type="text" id="from"  placeholder="Date" required="">
                            <svg width="2.5em" height="2.5em" viewBox="0 0 16 16" class="bi bi-calendar-date" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                              <path d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z"/>
                            </svg>
                          </div>
                        </div>  

                    <div class="form-group">
                        <button class="btn btn-success btn-block">Agregar</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
    <!--Footer-->
    <footer>
       
       <div class="container-footer-all">
        
            <div class="container-body">

                <div class="colum1">
                    <h1>Mas informacion de la compañia</h1>

                    <p>Pretendemos ser una empresa fuerte en el mercado nacional dentro del sector privado en la 
                      área de programación de Software, para ello abordaremos todos los servicios que ofrecemos 
                      actualmente agregando los que vayan surgiendo debido a la necesidad de cambio provocado por 
                      los avances tecnológicos.Somos una empresa que estará en constante innovación por lo que 
                      Save Studio se compromete a siempre contar con las nuevas tecnologías de desarrollo de Software 
                      dentro del mercado.</p>

                </div>

                <div class="colum3">

                    <h1>Informacion Contactos</h1>

                    <div class="row2">
                        <label>Mar Mediterráneo 227, Popotla, 11400 Ciudad de México, CDMX Ciudad de México, Ciudad de México, México
                        </label>
                    </div>

                    <div class="row2">
                        <label>+52 5531415887</label>
                    </div>

                    <div class="row2">
                         <label>savestudios@onclass.online</label>
                    </div>

                </div>

            </div>
        
        </div>
        
        <div class="container-footer">
               <div class="footer">
                    <div class="copyright">
                        © 2020 Todos los Derechos Reservados | <a href="">Magtimus</a>
                    </div>

                    <div class="information">
                        <a href="/links/terminos_condiciones">Terminos y Condiciones</a>
                    </div>
                </div>

            </div>
        
    </footer>
      
       
      
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    
    <script src="/js/jquery.js" type="text/javascript"></script>
    
    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script><!-- jquery-ui.js -->
    <script src="/js/funciones.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/reloj.js"></script>
</body> 
</html>