<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="icon" type="image/png" href="/img/icon.png" sizes="192x192">
  <title>Perfil</title>

  {{!-- BOOTSTRAP 4 --}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  {{!-- FontAwesome, SweetAlert, CSSAnimations --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
    integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
  <!--jquery-ui.css -->
  

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <!-- Custom styles for this template -->
  <link href="../libs/css/form-validation.css" rel="stylesheet">
  <script src="/js/main.js"></script>
  {{!-- <link rel="stylesheet" href="/css_index/estilos.css"> --}}
</head>

<body>

  {{>navigation}}  
  <div class="container mt-4">
    <center>
      <h3 class="text-capitalize">Bienvenido {{user.nombre_usuario}}</h3>
    </center>
  </div>
  <br>

  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-4 order-md-2 mb-4 border-left ml-1">

        <h4 class="d-flex justify-content-between align-items-center mb-3 ">
          <div class="row my-5">
            <div class="col-8">
              <span class="text-muted">Contactos</span>
            </div>
            <div class="col-4">
              <a href="/links/agregar_contacto" class="btn btn-primary"><i class="fas fa-plus mr-1"></i> Agregar</a>
            </div>
          </div>

        </h4>


        {{#each usuarios}}

        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0"> <span style="font-size:1.3rem; color:grey;"><i
                    class="fas fa-user mr-1"></i></span>{{nombre_usuario}}</h6>
              <small class="text-muted">Brief description</small>
            </div>
            <div>
              <a href="/links/eliminar_contacto/{{id_usuario}}" class="btn btn-danger"><i class="fas fa-trash"></i> </a>
            </div>
          </li>
        </ul>
        {{/each}}

      </div>

      <div class="col-md-6 order-md-1">
        <div class="mb-3">
          <label><span style="font-size: 1.5rem;"><i class="fas fa-user-tag mr-2"></span></i>Usertag</label>
          <div class="input-group">
            <input type="text" class="form-control" value="{{user.usertag}}" readonly="readonly">
          </div>
        </div>
        <div class="mb-3">
          <label><span style="font-size: 1.5rem;"><i class="fas fa-lock mr-2"></span></i>Contraseña</label>
          <div class="input-group">
            <input type="text" class="form-control" value="*************************************" readonly="readonly">
          </div>
        </div>
        <div class="mb-3">
          <label for="email"><span style="font-size: 1.5rem;"><i class="fas fa-envelope mr-2"></span></i>Correo</label>
          <div class="input-group">
            <input type="text" class="form-control" value="{{user.correo_usuario}}" readonly="readonly">
          </div>
        </div>
        <div class="mb-3">
          <label><span style="font-size: 1.5rem;"><i class="fas fa-id-card mr-2"></span></i>Nombre</label>
          <div class="input-group">
            <input type="email" class="form-control" value="{{user.nombre_usuario}}" readonly="readonly">
          </div>
        </div>
        <div class="mb-3">
          <label><span style="font-size: 1.5rem;"><i class="fas fa-key mr-2"></span></i>Clave de Amigo</label>
          <div class="input-group">
            <input type="text" class="form-control" value="{{user.id_usuario}}" readonly="readonly"
              onkeypress="return isNumber(event)" pattern="^[\d]+$">
          </div>
        </div>

        <div class="row mt-5">
          <div class="col-6">
            <div>
              <form action="/links/vista_editar_perfil" method="POST">
                <input type="hidden" value="{{user.id_usuario}}" name="id">
                <button type="submit" class="btn btn-primary btn-lg"><i class="fas fa-edit mr-1"></i>Editar
                  perfil</button>
              </form>
            </div>
          </div>
          <div class="col-6">
            <div class="d-flex justify-content-center">
              <form action="/links/eliminar_cuenta" method="POST">
                <input type="hidden" value="{{user.id_usuario}}" name="id">
                <button type="submit" class="btn btn-danger btn-lg"><i class="fas fa-trash"></i> Eliminar
                  cuenta</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>  
  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
  <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/form-validation.js"></script>
  
  <script src="/js/reloj.js"></script>
{{>footer}}
  
</body>

</html>